/* CSS GERAL */
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  *zoom: 1;
}

.col {
    float: left;
	*display: inline-block;
    padding: 0 14px;
    margin-bottom: 10px;
}

.col1 {
    width: 8.33%;
}

.col2 {
    width: 16.66%;
}

.col3 {
    width: 24.99%;
}

.col4 {
    width: 33.32%;
}

.col5 {
    width: 41.65%;
}

.col6 {
    width: 49.98%;
}

.col7 {
    width: 58.31%;
}

.col8 {
    width: 66.64%;
}

.col9 {
    width: 74.97%;
}

.col10 {
    width: 83.3%;
}

.col11 {
    width: 91.63%;
}

.col12 {
    width: 100%;
}


/* OFFSETs */

.offset1 {
    margin-left: 8.33%;
}

.offset2 {
    margin-left: 16.66%;
}

.offset3 {
    margin-left: 24.99%;
}

.offset4 {
    margin-left: 33.32%;
}

.offset5 {
    margin-left: 41.65%;
}

.offset6 {
    margin-left: 49.98%;
}

.offset7 {
    margin-left: 58.31%;
}

.offset8 {
    margin-left: 66.64%;
}

.offset9 {
    margin-left: 74.97%;
}

.offset10 {
    margin-left: 83.3%;
}

.offset11 {
    margin-left: 91.63%;
}
