body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.box-custom {
    text-align: center;
    padding: 15px;
    border: 1px solid #DDD;

    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.05);
    box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.05);

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.titulo {
    text-align: center;
    margin: 57px 0;
}
